 <h3 class="header-title">新規注文</h3>
 <%= render "reservations/shared/error", obj: @reservation %>
 
    <%= form_for @reservation do |f| %>
      <table>
        <tr>
          <th><%= f.label :name ,"名前" %><br>(⚠️民家はカタカナ入力)</th>
          <td><%= f.text_field :name, placeholder:"カタカナ入力"%>様</td>
        </tr>
 
        <tr>
          <th><%= f.label :address ,"住所" %></th>
          <td><%= f.text_field :address %></td>
        </tr>


         <tr>
          <th><%= f.label :telnum ,"電話番号" %></th>
          <td><input type="tel" inputmode="numeric" pattern="\d*" name="reservation[telnum]"value="<%=@reservation.telnum%>"></td>
        </tr>

        <tr>
          <th><%= f.label :time ,"日付-時間" %></th>
          <td><input type="date" name="reservation[time]" value="<%=Date.today%>"> -
          <input type="text" name="reservation[backtime]" min="11:00" max="21:00" list="time-list" value="<%=@reservation.backtime%>">
          　　 <datalist id="time-list">
                <option value="11:00-11:30"></option>
                <option value="11:30">前後</option>
                <option value="11:30-12:00"></option>
                <option value="12:00">前後</option>
                <option value="12:00-12:30"></option>
                <option value="12:30">前後</option>
                <option value="12:30-13:00"></option>
                <option value="13:00">前後</option>
                <option value="13:00-13:30"></option>
                <option value="13:30">前後</option>
                <option value="13:30-14:00"></option>
                <option value="14:00">前後</option>
                <option value="14:00-14:30"></option>
                <option value="14:30">前後</option>
                <option value="14:30-15:00"></option>
                <option value="15:00">前後</option>
                <option value="15:00-15:30"></option>
                <option value="15:30">前後</option>
                <option value="15:30-16:00"></option>
                <option value="16:00">前後</option>
                <option value="16:00-16:30"></option>
                <option value="16:30">前後</option>
                <option value="16:30-17:00"></option>
                <option value="17:00">前後</option>
                <option value="17:00-17:30"></option>
                <option value="17:30">前後</option>
                <option value="17:30-18:00"></option>
                <option value="18:00">前後</option>
                <option value="18:00-18:30"></option>
                <option value="18:30">前後</option>
                <option value="18:30-19:00"></option>
                <option value="19:00">前後</option>
                <option value="19:00-19:30"></option>
                <option value="19:30">前後</option>
                <option value="19:30-20:00"></option>
                <option value="20:00">前後</option>
                <option value="20:00-20:30"></option>
                <option value="20:30">前後</option>
                <option value="20:30-21:00"></option>
                <option value="21:00">前後</option>      
             </datalist>
          </td>
        </tr>
 
        <tr>
          <th><%= f.label :order ,"注文内容" %></th>
        <td>
          <div class="box">
             <textarea name="reservation[order]" class="textarea" value="1" cols="50" style="width:80%;height:250px;"></textarea>
             <p>省略ボタン</p>
            <input id="order-btn" class="input" type="text" name="text" value="×">
            <button class="button" type="button">×</button>
            <input id="order-btn"class="input1" type="text" name="text" value="1" >
            <button class="button1" type="button">1</button>
            <input id="order-btn"class="input2" type="text" name="text" value="2">
            <button class="button2" type="button">2</button>
            <input id="order-btn"class="input3" type="text" name="text" value="3">
            <button class="button3" type="button">3</button>
            <input id="order-btn"class="input4" type="text" name="text" value="4">
            <button class="button4" type="button">4</button>
            <input id="order-btn"class="input5" type="text" name="text" value="5">
            <button class="button5" type="button">5</button>
            <input id="order-btn"class="input6" type="text" name="text" value="6">
            <button class="button6" type="button">5</button>
            <input id="order-btn"class="input7" type="text" name="text" value="7">
            <button class="button7" type="button">6</button>
            <input id="order-btn"class="input8" type="text" name="text" value="8">
            <button class="button8" type="button">7</button>
            <input id="order-btn"class="input9" type="text" name="text" value="9">
            <button class="button9" type="button">8</button>
            <input id="order-btn"class="input10" type="text" name="text" value="白">
            <button class="button10" type="button">9</button>
            <input id="order-btn"class="input11" type="text" name="text" value="五">
            <button class="button11" type="button">五</button>
            <input id="order-btn"class="input12" type="text" name="text" value="普">
            <button class="button12" type="button">普</button>
            <input id="order-btn"class="inputgit 13" type="text" name="text" value="少">
            <button class="button13" type="button">少</button>
            <input id="order-btn"class="input14" type="text" name="text" value="大">
            <button class="button14" type="button">大</button>
            <input id="order-btn"class="input15" type="text" name="text" value="単">
            <button class="button15" type="button">単</button>
            <input id="order-btn"class="input16" type="text" name="text" value="D">
            <button class="button16" type="button">D</button>
            <input id="order-btn"class="input17" type="text" name="text" value="（">
            <button class="button17" type="button">（</button>
            <input id="order-btn"class="input18" type="text" name="text" value="『大戸屋』">
            <button class="button18" type="button">大戸屋</button>
            <input id="order-btn"class="input19" type="text" name="text" value="『KOUCH』">
            <button class="button19" type="button">KOUCH</button>
            <input id="order-btn"class="input20" type="text" name="text" value="">
            <button class="button20" type="button">改行</button>
          </div> 
        </td>
    
         
        </tr>

        <tr>
          <th><%= f.label :price ,"金額" %></th>
          <td><input type="number" inputmode="numeric" pattern="\d*" name="reservation[price]">円</td>
        </tr>

        <tr>
          <th><%= f.label :category ,"カテゴリー（一つのみ選択）" %></th>
          <td><input type="checkbox" value="KOUCH" name="reservation[category]" class="box">
          <label for="coding">KOUCH</label><br>
          <input type="checkbox" value="大戸屋" name="reservation[category]" class="box">
          <label for="coding">大戸屋</label><br>
          <input type="checkbox" value="コラボ" name="reservation[category]" class="box">
          <label for="coding">コラボ</label></td>
        </tr>

        <tr>
          <th><%= f.label :category ,"企業or民家（一つのみ選択）" %></th>
          <td><input type="checkbox" value="企業" name="reservation[categoryname]" class="box">
          <label for="coding">企業</label><br>
          <input type="checkbox" value="民家" name="reservation[categoryname]" class="box">
          <label for="coding">民家</label><br>
        </tr>
        
         <tr>
          <th><%= f.label :remarks ,"備考" %></th>
          <td><input type="text" name="reservation[remarks]" placeholder="(例)マップでは出てこない" style="width:80%;height:100px;" value ="<%=@reservation.remarks%>"></td>
        </tr>

      </table>
 
      <div>
        <ul>
          <li><%= f.submit "登録完了する", class: 'submit user',data:{confirm:"この情報で登録しますか？"}%></li>
          <li><%= link_to "予約一覧表に戻る", :reservations, class: 'top user btn btn-border-shadow btn-border-shadow--color2' %></li>
        </ul>
      </div>
    <% end %>